.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.currsor-pointer {
    cursor: pointer;
}

.align-items-center {
 align-items: center;
}

.justify-content-center{
    justify-content: center;
}